<p id="notice"><%= notice %></p>

<p>
  <strong>Spotify:</strong>
  <%= @playlist.spotify_id %>
</p>

<p>
  <strong>Spotify description:</strong>
  <%= @playlist.spotify_description %>
</p>

<p>
  <strong>Spotify href:</strong>
  <%= @playlist.spotify_href %>
</p>

<p>
  <strong>Spotify name:</strong>
  <%= @playlist.spotify_name %>
</p>

<p>
  <strong>Spotify uri:</strong>
  <%= @playlist.spotify_uri %>
</p>

<p>
  <strong>Spotify images:</strong>
  <%= @playlist.spotify_images %>
</p>
